<% title "Food" %>

<table class="pretty">
  <tr>
    <th><%= sortable "name" %></th>
    <th><%= sortable "calories" %></th>
  </tr>
  <% for food in @Foods %>
  <tr>
    <td><%= food.name %></td>
    <td><%= food.calories %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to "New Food", new_food_path %></p>

<% title "Exercise" %>

<table class="pretty">
  <tr>
    <th><%= sortable "activity" %></th>
    <th><%= sortable "calories" %></th>
  </tr>
  <% for exercise in @Exercises %>
  <tr>
    <td><%= exercise.activity %></td>
    <td><%= exercise.calories %></td>
  </tr>
  <% end %>
</table>

<p><%= link_to "New Exercise", new_exercise_path %></p>
