<div class='form-group'>
  <%= form_for @food, html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control", required: 'required' %>
    <%= f.label :calories %>
    <%= f.text_field :calories, class: "form-control", required: 'required' %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>

